body {
    background-color: #ffffff;
    color: white;
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    padding-top: 50px;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 20px auto 10px;
    margin-bottom: 10px;
    margin-top: 100px;
    border-radius: 10px;
}

.converter-box {
    max-width: 400px;
    width: 90%;
    margin: 0 auto 30px;
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    padding: 25px;
}

.tabs {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.tab-button {
    flex: 1;
    background: transparent;
    background-color: #2b2b2b;
    color: white;
    border: 1px solid #ff4444;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 5px;
    font-weight: 500;
}

.tab-button:hover {
    background-color: #ff4444;
    color: white;
    transform: scale(1.05);
}

.tab-button.active {
    background-color: #ff4444;
    color: white;
    border: 1px solid #ff0000;
    box-shadow: 0 0 10px rgba(255, 68, 68, 0.6);
}

#from-country,
#to-country {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #2b2b2b;
    color: white;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

#from-country:focus,
#to-country:focus {
    background-color: #444;
    color: #ff4444;
    outline: none;
    border: 1px solid #ff4444;
}

option {
    background-color: #2b2b2b;
    color: white;
}

option:checked,
option:hover {
    background-color: #ff4444;
    color: white;
}

#number-button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #2b2b2b;
    color: #ffffff;
}

.caculate-button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    border: none;
    background-color: red;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
    transition: all o.3s ease;
}

.caculate-button:hover {
    background-color: #e60000;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
}

@media(max-width:600px) {
    body {
        flex-direction: column;
        padding: 20px;
    }
    .converter-box {
        width: 95%;
        padding: 15px;
    }
    .tab-button {
        font-size: 14px;
        padding: 8px 12px;
    }
    .logo {
        max-width: 250px;
        margin-top: 50px;
    }
    #from-country,
    #to-country {
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }
}